.profile_sett {
    width: 390px;
    height: 470px;
    background: #FCFCFA;
    border-radius: 0px 0px 50px 50px;
    overflow: hidden;
}


.up_line {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.u_info {
    text-align: center;
}

h1 {
    font-size: 38px;
}

.u_img {
    margin-right: auto;
    margin-left: auto;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    margin-top: 2rem;
}

.u_name {
    font-size: 24px;
    font-weight: 400;
    margin-top: 1rem;
}

.u_email {
    color: #929292;
    font-size: 14px;
    font-weight: 400;
}

.u_stats {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.count {
    font-family: sans-serif !important;
}

.stat {
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 14px;
    text-align: center;
}

.modules_prof {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.module {
    width: 189px;
    height: 310px;
    background-color: #FFFF4D;
    border-radius: 50px;
    background-image: url(../../assets/img/yellow_back.svg);
    background-repeat: no-repeat;
}

.module:last-child{
    background-image: url(../../assets/img/purple_back.svg);
    background-color: #8F76F5;
    background-repeat: no-repeat;
    background-size: cover;
}

.module .count{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-size: 48px;
}

.module_title{
    margin-left: 1.5rem;
    font-size: 14px;
    text-align: left;
}

.module_sup{
    font-size: 20px;
    margin-top: 3.5rem;
    margin-left: 1.5rem;
    line-height: 20px;
    margin-bottom: .5rem;
}

.module img{
    margin-left: 1.5rem;
}

.module:last-child .module_sup{
    margin-top: 35px;
}