.task_h {
    position: fixed;
    color: white;
    width: 390px;
    height: 86px;
    background: #262626;
    border-radius: 0px 0px 20px 20px;
}

.task_h_i {
   width: 90%;
   margin-right: auto;
   margin-left: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 24px;
   padding-top: 2.5rem;
}

.task_h_i span{
    margin-right: 10px;
}



