.App{
  width: 390px;
  height: 844px;
  margin: auto;
  border: 1px solid black;
  /* margin-top: 2rem; */
  background-color: white;
  font-family: 'SA Long Beach' !important;
  overflow: hidden;
}

@font-face{
  font-family: 'SA Long Beach';
  src: url(/src/fonts/SALongBeach.otf);
}